<button
  class="fixed right-4 bottom-4 z-30 sm:right-7 sm:bottom-5 xl:right-10 xl:bottom-8 fullhd:right-[80px] fullhd:bottom-[60px]"
>
  <a
    href="https://api.whatsapp.com/send/?phone=5491160246355&text&type=phone_number&app_absent=0"
    target="_blank"
  >
    <img
      src="/icons/whatsapp_logo.png"
      alt="whatsapp logo"
      class="w-16 sm:w-20 xl:w-24 fullhd:w-max"
    />
  </a>
</button>
