<section
  class="h-auto flex justify-center items-center w-full bg-[url('/icons/backgrounds/light_gray_background.svg')] bg-dark_gray_2"
>
  <div
    class="py-[100px] grid justify-center grid-cols-2 gap-x-[24px] gap-y-10 lg:py-0 lg:h-[350px] lg:w-full lg:flex lg:justify-center lg:gap-0 lg:px-5 xl:h-[420px] mac:h-[450px] hd:h-[470px] fullhd:px-0 fullhd:h-[600px] fullhd:max-w-[1920px] fullhd:gap-x-[62px]"
  >
    <div
      class="h-[158px] w-[129px] py-[10px] flex justify-center items-center flex-col bg-[#ffffff1a] rounded-[16px] sm:h-[200px] sm:w-[160px] lg:py-0 lg:h-auto lg:w-[300px] lg:bg-transparent"
    >
      <img
        class="w-[115px] sm:w-[150px] lg:w-44 xl:w-56 mac:w-64 hd:w-[270px] fullhd:w-max"
        src="/icons/benefits/buda.svg"
        alt="Keys"
      />
      <h3
        class="w-[90px] text-[16px] text-white font-medium text-center leading-none pt-2 sm:text-[18px] sm:leading-[21px] lg:pt-5 lg:text-[20px] lg:leading-[23px] lg:w-[120px] xl:text-2xl xl:leading-[28px] hd:text-3xl hd:w-[150px] fullhd:pt-7 fullhd:text-[40px] fullhd:w-52"
      >
        Atención Distinguida
      </h3>
    </div>
    <div
      class="h-[158px] w-[129px] py-[10px] flex justify-center items-center flex-col bg-[#ffffff1a] rounded-[16px] sm:h-[200px] sm:w-[160px] lg:py-0 lg:h-auto lg:w-[300px] lg:bg-transparent"
    >
      <img
        class="w-[115px] sm:w-[150px] lg:w-44 xl:w-56 mac:w-64 hd:w-[270px] fullhd:w-max"
        src="/icons/benefits/shaking_hands.svg"
        alt="Keys"
      />
      <h3
        class="w-[90px] text-[16px] text-white font-medium text-center leading-none pt-2 sm:text-[18px] sm:leading-[21px] sm:w-[100px] lg:pt-5 lg:text-[20px] lg:leading-[23px] lg:w-[120px] xl:text-2xl xl:leading-[28px] xl:w-[140px] hd:text-3xl hd:w-[160px] fullhd:pt-7 fullhd:text-[40px] fullhd:w-52"
      >
        Relación de por vida
      </h3>
    </div>
    <div
      class="h-[158px] w-[129px] py-[10px] flex justify-center items-center flex-col bg-[#ffffff1a] rounded-[16px] sm:h-[200px] sm:w-[160px] lg:py-0 lg:h-auto lg:w-[300px] lg:bg-transparent"
    >
      <img
        class="w-[115px] sm:w-[150px] lg:w-44 xl:w-56 mac:w-64 hd:w-[270px] fullhd:w-max"
        src="/icons/benefits/check.svg"
        alt="Keys"
      />
      <h3
        class="w-[90px] text-[16px] text-white font-medium text-center leading-none pt-2 sm:text-[18px] sm:leading-[21px] sm:w-[100px] lg:pt-5 lg:text-[20px] lg:leading-[23px] lg:w-[120px] xl:text-2xl xl:leading-[28px] xl:w-[140px] hd:text-3xl hd:w-[160px] fullhd:pt-7 fullhd:text-[40px] fullhd:w-52"
      >
        Oficinas de categoría
      </h3>
    </div>
    <div
      class="h-[158px] w-[129px] py-[10px] flex justify-center items-center flex-col bg-[#ffffff1a] rounded-[16px] sm:h-[200px] sm:w-[160px] lg:py-0 lg:h-auto lg:w-[300px] lg:bg-transparent"
    >
      <img
        class="w-[115px] sm:w-[150px] lg:w-44 xl:w-56 mac:w-64 hd:w-[270px] fullhd:w-max"
        src="/icons/benefits/calendar.svg"
        alt="Keys"
      />
      <h3
        class="w-[90px] text-[16px] text-white font-medium text-center leading-none pt-2 sm:text-[18px] sm:leading-[21px] lg:pt-5 lg:text-[20px] lg:w-[120px] lg:leading-[23px] xl:text-2xl xl:leading-[28px] hd:text-3xl hd:w-[150px] fullhd:pt-7 fullhd:text-[40px] fullhd:w-52"
      >
        Calidad garantizada
      </h3>
    </div>
    <div
      class="h-[158px] w-full py-[10px] col-span-2 flex flex-col items-center justify-center bg-[#ffffff1a] lg:h-auto sm:h-[200px] lg:w-[300px] lg:py-0 lg:bg-transparent rounded-[16px]"
    >
      <img
        class="w-[115px] sm:w-[150px] lg:w-44 xl:w-56 mac:w-64 hd:w-[270px] fullhd:w-max"
        src="/icons/benefits/keys.svg"
        alt="Keys"
      />
      <h3
        class="text-[16px] text-white font-medium text-center text-nowrap pt-2 sm:text-[18px] lg:text-wrap lg:pt-5 lg:text-[20px] lg:leading-[23px] lg:w-[120px] xl:text-2xl xl:leading-[28px] hd:text-3xl hd:w-[150px] fullhd:pt-7 fullhd:text-[40px] fullhd:w-52"
      >
        Gestoría propia
      </h3>
    </div>
  </div>
</section>
