---
import Brand from "../Custom/Brand.astro";
import CarouselMobile from "../Custom/Carousel/CarouselMobile";
---

<section
  class="flex justify-center bg-[url(/icons/backgrounds/mobile_dark_background.png)] md:bg-[url(/icons/backgrounds/dark_background.png)] w-full bg-dark_gray h-[1050px] xs:h-[1100px] sm:h-[1500px] lg:h-[1050px] xl:h-[950px] hd:h-[820px] fullhd:h-[720px]"
>
  <div class="flex flex-col items-center lg:justify-center px-4 w-full">
    <div class="text-center flex flex-col items-center w-full mx-auto sm:pb-10">
      <h1
        class="text-white font-bold text-[25px] xs:text-[32px] sm:leading-tight w-[251px] xs:w-[330px] sm:w-[482px] md:w-[514px] lg:w-[795px] xl:w-[900px] sm:text-5xl sm:pb-10 pb-4 pt-[100px] md:px-4"
      >
        Toda nuestra <span class="block lg:inline">variedad automotriz,</span>
        <span class="block text-gold font-orbitron font-bold"
          >SOLO PARA VOS.</span
        >
      </h1>
    </div>
    <div class="container mx-auto sm:hidden">
      <CarouselMobile client:only />
    </div>
    <div class="hidden sm:block">
      <Brand />
    </div>
  </div>
</section>
