<section
  class="flex justify-center flex-col items-center w-full bg-[url(/icons/backgrounds/dark_background.png)] bg-dark_gray"
>
  <div
    class="h-auto w-auto pt-10 xs:pt-[54px] lg:w-[800px] xl:pt-0 xl:w-[950px] mac:w-[1100px] hd:w-[1200px] fullhd:w-[1300px] fullhd:pt-10"
  >
    <div
      class="flex justify-center rounded-[23px] lg:rounded-[4px]"
      style={{
        background:
          "linear-gradient(-90deg, #A49C4C -15%, #CAA962 35.78%, #BF953F 92.17%, #988001 118.43%)",
      }}
    >
      <div
        class="flex flex-col items-center justify-center text-white text-center px-5 py-20 xs:px-8 lg:py-16 lg:w-[1000px] mac:py-[60px] hd:py-20"
      >
        <div
          class="w-[250px] flex justify-center items-center flex-col gap-4 sm:w-[310px] lg:flex-col lg:w-full fullhd:gap-4"
        >
          <h3
            class="font-orbitron font-bold leading-[56px] text-4xl xs:text-[40px] lg:text-3xl xl:text-4xl hd:text-[40px]"
          >
            Unite a la comunidad BROTHERS
          </h3>
          <p
            class="w-[230px] text-[#FFFFFFCC] font-semibold text-base lg:leading-normal lg:w-[450px] lg:text-sm mac:text-base mac:w-[500px]"
          >
            Suscribite GRATIS a nuestro newsletter, a través del cual recibirás
            últimas novedades, productos destacados, noticias, etc...
          </p>
        </div>
        <div
          class="flex flex-col justify-center items-center gap-4 pt-6 mac:pt-8 lg:flex-row"
        >
          <input
            class="w-[250px] py-3 bg-[#FBFDFE] text-[#0D0E14] text-center text-sm font-semibold border-2 border-[#896C05] rounded-[43px] placeholder:text-dark_gray outline-none lg:py-2 md:px-10 hd:py-3 mac:w-[300px]"
            placeholder="Ingresa tu email"
            type="email"
          />
          <button
            class="py-[10px] px-6 bg-medium_gray font-semibold text-white rounded-[43px] text-sm lg:py-[10px] lg:px-6 lg:text-xs hd:text-sm"
          >
            UNIRME A LA COMUNIDAD
          </button>
        </div>
      </div>
    </div>
    <div class="flex justify-center pt-[70px] pb-[108px] lg:pb-[83px]">
      <a href="#header">
        <button
          class="py-3 px-6 bg-transparent text-white font-bold text-sm border border-yellow rounded-full lg:px-7"
        >
          IR HASTA ARRIBA
        </button>
      </a>
    </div>
  </div>
</section>
