<header
  id="header"
  class="w-full bg-[url(/icons/backgrounds/mobile_home.svg)] bg-cover bg-no-repeat bg-dark_gray md:bg-[url(/icons/backgrounds/home.svg)] fullhd:h-[1080px]"
>
  <div
    class="flex flex-col items-center justify-center text-center relative pt-[170px] pb-[126px] sm:pt-[195px] lg:pb-56 lg:pt-[270px] mac:pb-[293px] mac:pt-[306px]"
  >
    <img
      src="/icons/home/icosahedron.svg"
      alt="iconsahedron"
      loading="eager"
      class="absolute w-24 sm:w-36 bottom-0 left-0 xl:w-52 mac:w-56 fullhd:w-max fullhd:bottom-[-53px]"
    />
    <img
      src="/icons/home/car.svg"
      alt="car"
      loading="eager"
      class="hidden md:block md:absolute md:w-32 md:top-16 md:left-20 lg:top-40 lg:left-8 xl:w-36 mac:w-40 mac:top-[420px] mac:left-10 fullhd:w-max"
    />
    <img
      src="/icons/home/pyramid.svg"
      alt="pyramid"
      loading="eager"
      class="hidden md:block md:absolute md:bottom-40 md:right-6 md:w-36 lg:top-24 xl:w-40 mac:w-44 mac:top-32 hd:right-6 fullhd:w-max"
    />
    <h1
      class="w-[320px] text-3xl font-bold font-orbitron text-white text-center sm:w-[450px] md:w-[650px] lg:w-[800px] lg:leading-[50px] lg:text-4xl mac:text-5xl mac:w-[1050px] fullhd:w-[1400px] fullhd:mx-0 fullhd:leading-[70px] fullhd:text-[60px] uppercase"
    >
      El nuevo concepto a la hora de <span
        class="text-gold md:text-4xl lg:text-5xl mac:text-6xl fullhd:text-[80px]"
        >COMPRAR</span
      >, <span
        class="text-gold md:text-4xl lg:text-5xl mac:text-6xl fullhd:text-[80px]"
        >VENDER</span
      ><span class="md:text-4xl mac:text-[55px]"> o </span><span
        class="text-gold md:text-4xl lg:text-5xl mac:text-6xl fullhd:text-[80px]"
        >CAMBIAR
      </span>tu auto
    </h1>
    <p class="lg:hidden pt-5 w-[300px] text-base text-gray font-ubuntumono">
      En <span class="text-gold text-bold uppercase">BROTHERS</span> marcamos la
      diferencia. Nos ocupamos de todo.
    </p>
    <p
      class="hidden lg:block pt-10 px-5 text-base text-gray font-ubuntumono lg:text-sm mac:text-base fullhd:text-2xl"
    >
      En <span class="text-gold text-bold uppercase">BROTHERS</span> marcamos la
      diferencia. Nos ocupamos de todo; tu tiempo, es valioso.
    </p>

    <div
      class="flex flex-col justify-center text-white items-center gap-5 pt-10 lg:flex-row lg:px-10 mac:gap-[32px]"
    >
      <a href="/comprar-un-auto">
        <button
          class="h-[60px] mac:h-[80px] w-[289px] lg:w-[250px] rounded-full lg:rounded-lg bg-gradient-to-br from-gold to-light_gold fullhd:w-[285px]"
          >COMPRAR UN AUTO</button
        >
      </a>
      <a href="/cotizar-mi-auto">
        <button
          class="h-[60px] mac:h-[80px] w-[289px] lg:w-[250px] rounded-full lg:rounded-lg bg-[#FFFFFF0F] backdrop-blur-[10px] border-2 border-[#A1AEBF] fullhd:w-[289px]"
          >COTIZAR MI AUTO</button
        >
      </a>
      <div class="hidden lg:block">
        <a href="/cotizar-mi-auto">
          <button
            class="h-[60px] mac:h-[80px] w-[289px] lg:w-[250px] rounded-lg bg-[#FFFFFF0F] backdrop-blur-[10px] fullhd:w-[289px]"
            >CAMBIAR MI AUTO</button
          >
        </a>
      </div>
    </div>
  </div>
</header>
