---
import { Image } from "astro:assets";
---

<section class="bg-dark_gray flex flex-col">
  <div
    class="bg-[url(/icons/backgrounds/mobile_somos_brothers_background.svg)] bg-no-repeat bg-cover bg-origin-border flex flex-col items-center pt-40 sm:pt-48 lg:bg-[url(/icons/backgrounds/somos_brothers_background.svg)] hd:pt-[217px]"
  >
    <h1
      class="text-white font-bold font-orbitron text-xl xs:text-2xl sm:text-3xl lg:text-5xl hd:text-[80px]"
    >
      SOMOS <span class="text-gold">BROTHERS</span>
    </h1>
    <Image
      src="/icons/shiny_buda.svg"
      alt="buda"
      width="200"
      height="200"
      class="py-8 sm:py-12 sm:w-72 fullhd:py-16 hd:w-max"
    />
    <p
      class="font-ubuntumono text-gray text-center text-base w-[240px] pb-16 sm:text-xl sm:w-[280px] lg:w-[470px] hd:text-2xl hd:w-[550px]"
    >
      Siempre buscamos lograr una <span class="text-gold"
        >mejor experiencia</span
      > para nuestros clientes
    </p>
  </div>
  <div class="flex flex-col items-center">
    <Image
      src="/images/we-are-brothers/image_1.png"
      alt="offices"
      width="280"
      height="280"
      class="pb-16 pt-16 sm:w-[400px] lg:w-[500px] hd:w-[900px] fullhd:w-max hd:pb-20"
    />
    <p
      class="font-orbitron font-bold text-center text-white w-[260px] pb-8 xs:w-[320px] sm:w-[410px] sm:pb-0 lg:w-[700px] hd:text-[32px] hd:w-[1400px]"
    >
      EL CONCEPTO DE DISEÑO DE LAS OFICINAS ESTÁ CENTRADO EN <span
        class="text-gold">SORPRENDER AL CLIENTE</span
      >, OTORGANDO UN ESPACIO DE INTERACCIÓN DIFERENTE AL CONVENCIONAL DE UN
      NEGOCIO DE AUTOMÓVILES.
    </p>
  </div>
  <div class="flex flex-col items-center">
    <div class="flex flex-col items-center lg:flex-row lg:gap-x-6">
      <Image
        src="/images/we-are-brothers/image_2.png"
        alt="offices"
        width="280"
        height="280"
        class="pt-12 pb-8 sm:w-[400px] sm:pt-16 sm:pb-12 lg:w-[450px] lg:pb-16 hd:w-[600px] hd:py-24 fullhd:w-max"
      />
      <p
        class="text-gray text-center font-ubuntumono w-[280px] xs:w-[320px] sm:w-[400px] lg:text-start lg:w-[270px] hd:text-2xl hd:w-[400px] fullhd:text-[32px] fullhd:leading-snug fullhd:w-[558px]"
      >
        Se ha generado un ambiente que desde el concepto de comodidad
        proporciona dinamismo, practicidad y un impacto diferencial mediante los
        distintos elementos de diseño. Que infunden en los visitantes un sentido
        de intimidad y confianza. <span class="text-gold"
          >Siempre buscando lograr una mejor interacción con el cliente.</span
        >
      </p>
    </div>
    <div
      class="pt-8 sm:pt-12 lg:flex lg:items-center lg:justify-center lg:gap-x-6 lg:pt-0"
    >
      <Image
        src="/images/we-are-brothers/image_3.png"
        alt="offices"
        width="280"
        height="280"
        class="pb-10 sm:w-[400px] lg:pb-0 lg:w-[270px] hd:w-[430px] fullhd:w-max"
      /><Image
        src="/images/we-are-brothers/image_4.png"
        alt="offices"
        width="280"
        height="280"
        class="pb-10 sm:w-[400px] lg:pb-0 lg:w-[270px] hd:w-[430px] fullhd:w-max"
      /><Image
        src="/images/we-are-brothers/image_5.png"
        alt="offices"
        width="280"
        height="280"
        class="sm:w-[400px] lg:w-[270px] hd:w-[430px] fullhd:w-max"
      />
    </div>
    <div
      class="flex flex-col text-white font-orbitron font-bold text-center gap-y-5 py-20 hd:text-3xl hd:py-[170px] fullhd:text-[40px]"
    >
      <p>EN BROTHERS</p>
      <p>HACEMOS LA DIFERENCIA</p>
    </div>
  </div>
</section>
